.inputdiv {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-weight: 700;
}

.name {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: solid 1px #000;
  outline: none;
  box-shadow: none;
  z-index: 5;
}

.name::selection {
  background-color: black;
  color: white;
}

.bar::before {
  display: block;
  position: absolute;
  bottom: -1px;
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  transition: 250ms;
}

.name:focus ~ .bar::before {
  height: 2px;
  width: 100%;
}

.label {
  margin-left: 10px;
  display: inline-block;
  position: absolute;
  bottom: 2px;
  transition: 200ms;
  transform-origin: left;
  cursor: text;
  z-index: 1;
}

.name:focus + .label {
  bottom: 20px;
  transform: scale(0.8);
  font-weight: 400;
  margin-left: 0px;
}

.name:valid + .label {
  bottom: 20px;
  transform: scale(0.8);
}
