.prev {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
}

.history {
    background-color: #fff;
    padding: 10px 17px;
    border-radius: 15px;
}

th {
    font-weight: 500;
    font-size: 16px;
}