.loadImage {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 260px;
  box-shadow: 5px 5px 4px 0 #00000066;
  background: var(--gray);
  display: flex;
  align-items: center;
}
.loadImage p {
  text-align: center;
  padding: 20px;
  font-size: 24px;
}
.loadImage img {
  width: inherit;
}
.inputFile {
  position: absolute;
  top: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  margin: 0 auto;
  cursor: pointer;
}
@media(max-width: 480px){
   .loadImage{
       width: 160px;
       height: 220px;
   }
    .loadImage p{
        font-size: 18px;
    }
}
@media(max-width: 400px){
  .loadImage{
    width: 140px;
    height: 200px;
  }
  .loadImage p{
    font-size: 16px;
  }
}
