.LoaderImage {
    margin: 0 auto -260px;
    height: 260px;
    width: 200px;
    position: relative;
    top: -260px;
  }

.LoadButton {
    position: relative;
    top: -260px;
    height: 260px;
    width: 200px;
    opacity: 0;
    margin: 0 auto;
}

.LoadImage {
    height: 260px;
    width: 200px;
}
