.button {
  color: #1d2633;
  background-color: #06b9b4;
  border: 1px solid #006d67;
  font-weight: 500;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.15s;
  transition-timing-function: ease;
}

.button:hover {
  box-shadow: 0px 0px 0px 0px;
}

.small {
  font-size: 14px;
  height: 36px;
  padding: 0 14px;
}

.medium {
  font-size: 20px;
  height: 42px;
  padding: 0 20px;
}
