.button {
  color: #212121;
  background-color: #44eb99;

  font-size: 14px;
  font-weight: 400;
  padding: 12px 25px 12px 25px;

  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.1s;
  transition-timing-function: ease;
}

.scrollUp {
  position: fixed;
  font-size: 20px;
  bottom: 5%;
  right: 5%;
  z-index: 100;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../../assets/baseline-keyboard-arrow-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  }

.button:hover {
  box-shadow: 0px 0px 0px 0px;
}

.button:disabled {
  background: #c6cfda;
  box-shadow: none;
}
.red {
  background-color: #ff4a50;
}
