.main {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.addbook {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-size: 20px;
}

.info {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}
