.main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 1000px;
}

@media screen and (width <= 750px) {
  .main {
    max-width: 320px;
    flex-direction: column;
  }

  .search {
    position: sticky;
    top: 10px;
    bottom: 10px;
    left: 0;
    z-index: 100;
    margin: 10px 0;
    background: #656565 ;
  }
  /* .search::-webkit-textfield-decoration-container {
    position: sticky;
    top: 10px;
    left: 0;
    z-index: 100;
    margin: 10px 0;
    background-color: blue;
  } */

  .blockLeft {
    display: flex;
    flex-direction: column;
  }

}


@media screen and (width > 750px) {
  .main {
    max-width: 1280px;
    margin-bottom: 20px; 
  }

  .search {
    position: fixed;
    top: 300px;
  }

  .blockLeft {
    display: flex;
    position: fixed;
    flex-direction: row;
    min-width: 320px;
    max-width: 320px;
    height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
  }

}

.hello {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.info {
display: flex;
flex-direction: column;
font-family: Roboto;
font-size: 16px;
font-weight: 300;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
margin-top: 20px;
}
