.mobile {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.mobile .search {
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}


.dekstop .search {
  position: fixed;
  top: 300px;
}



.dekstop {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 20px; 
}

.dekstop .blockLeft {
  display: flex;
  position: fixed;
  flex: 2 1 300px;
  flex-direction: row;
  min-width: 320px;
  max-width: 320px;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: flex-start;
}

.mobile .blockLeft {
  display: flex;
  flex-direction: column;
}


.hello {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.info {
display: flex;
flex-direction: column;
font-family: Roboto;
font-size: 16px;
font-weight: 300;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
margin-top: 20px;
}

.dekstop .bookTable {
  margin-left: 320px;
}

