@media screen and (width <= 750px) {
    .bookTabke{
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
}
@media screen and (width > 750px) {
.bookTabke {
    margin-left: 340px;
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}