.home {
  text-align: center;
  width: 90%;
  margin: auto;
  max-width: 500px;
}


.addBook {
  height: 36px;
  width: 142px;
  background-color: white;
  float: right;
  margin: 20px;
}

.header {
  display: flex;
  text-align: left;
  position: relative;
  /* top: 50px; */
  width: 100%;
}

.spaceman {
  display: block;
  height: auto;
  width: 30%;
  margin: 10px 10px 10px 0px;
}

.hello {
  float: left;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.desc {
  display:block;
  /* margin-top: 50px; */
  text-align: left;
  color: #757575;
  font-family: Arial, Helvetica, sans-serif;
}

.iconSearch {
  position: relative;
  top: -20px;
  float: left;
}