.param {
text-align: center;
height: 210px;
width: 140px;
border-style: solid;
border-radius: 10px;
border-width: 2px;
border-color: #aeaeae;
margin: 15px 10px;
display:inline-block;
}


.bookImg {
max-height: 150px;
max-width: 100;
margin: 10px 10px 0;
}


.author {
font-size: 12px;
font-weight: bold;
text-align: left;
color: #757575;
margin: 7px 0px 0px 10px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 120;
font-family: Arial, Helvetica, sans-serif;
}

.title {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 120;
text-align: left;
font-weight: bold;
font-size: 14px;
margin: 3px 10px;
font-family: Arial, Helvetica, sans-serif;
}

.bookId {
position: relative;
top: -23px;  
margin-bottom: -20px;
float: left;
left: 5px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.isFree {
position: relative;
top: -20px;  
margin-bottom: -20px;
float: right;
right: 5px;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
color: #757575;
font-weight: bold;
}

.grayscale {
filter: grayscale(100%);
}

