.card {
  /* min-height: 321px; */
  /* max-height: 321px; */

  max-height: 350px;
  /* mobile */
  width: 155px;
  /* width: 195px; */
  border: 1px solid #fff;
  background: #fff;
  border-radius: 8px;
  transition: 0.3s;
  transition-timing-function: ease-in;
  padding: 14px;
}

.card:hover {
  transform: scale(1.02);
}

.bookId {
  display: flex;
  position: relative;
  max-width: 35px;
  max-height: 35px;
  width: 35px;
  height: 35px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 40;
}

.bookIdFree {
  background: #44eb99;
}

.bookIdNoFree {
  background: #c6cfda;
}

.divImage {
  display: flex;
  position: relative;
  top: -18px;
  padding: auto;
  /* height: 170px; */
  /* mobile */
  height: 145px;
  width: 129;
  background: none;
  z-index: 1;
}

.bookImg {
  display: flex;
  height: auto;
  width: auto;
  margin: 0 auto;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.author {
  height: 16px;
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 6px 0;
  background: #fff;
}

.title {
  text-overflow: ellipsis;
  height: 32px;
  overflow: hidden;
  font-weight: 300;
  font-size: 14px;
  background: #fff;
}

.freeFavorite {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin-top: 10px;
}

.StatusFree {
  display: flex;
  width: 74px;
  height: 27px;
  font-size: 12px;
  font-weight: 400;
  background: #c6cfda;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.StatusNoFree {
  background: #44eb99;
}

.grayscale {
  filter: grayscale(100%);
}
