.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

:global(.dekstop) .main {
  padding: 30px 0 30px 20px;
}

:global(.mobile) .main {
    padding: 30px 20px 30px 20px;
    flex-direction: column-reverse;
}

.about {
  padding: 60px 22px 60px 42px;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

:global(.dekstop) .about {
  width: 60%;
  border-radius: 15px 0 0 15px;
}

:global(.mobile) .about {
  width: 100%;
  border-radius: 15px;
}

:global(.dekstop) .wrapper {
  gap: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (width > 560px) {
  :global(.mobile) .wrapper {
  gap: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

:global(.mobile) .divImage {
  display: flex;
  position: relative;
  height: 250px;
  width: auto;
  background: none;
  z-index: 1;
  margin-right: 20px;
}
}

@media screen and (width <= 560px) {
  :global(.mobile) .wrapper {
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  :global(.mobile) .divImage {
    display: flex;
    position: relative;
    height: 150px;
    width: auto;
    background: none;
    z-index: 1;
    margin-right: 20px;
  }
}


:global(.dekstop) .divImage {
  display: flex;
  position: relative;
  height: 250px;
  width: auto;
  background: none;
  z-index: 1;
  margin-right: 20px;
}



.bookImg {
  display: flex;
  height: auto;
  width: auto;
  margin: 0 auto;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.bookId {
  display: flex;
  position: relative;
  max-width: 35px;
  max-height: 35px;
  width: 35px;
  height: 35px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 40;
}

.bookIdFree {
  background: #44eb99;
}

.bookIdNoFree {
  background: #c6cfda;
}

.author {
  font-size: 25px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0;
  background: #fff;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
  font-size: 20px;
  background: #fff;
  margin: 10px 0;
}
/* 
:global(.mobile) label, .author, .title {
  max-width: 190px;
} */

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.getBook {
  margin-top: 20px;
}

:global(.dekstop) .historyTable {
  margin: 0 auto;
  width: 35%;
}

:global(.mobile) .historyTable {
  margin-top: 20px;
  width: 100%;
}


.desc {
  margin-top: 40px;
}

.comment {
  margin-top: 1px;
  width: 100%;
  height: 200px;
  overflow: auto;
  border: none;
  font-weight: 300;
  font-size: 16px;
  padding: 20px;
  resize: none;
}

.countReview {
  margin-right: 10px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  text-align: right;
}

.addReviewButton {
  margin-top: 10px;
  text-align: center;
}
