* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: var(--text-main);
  line-height: normal;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --color-main: tomato;
  --background-light: #ebecf4;
  --text-main: #212121;
  --text-gray: #656565;
  --green: #44eb99;
  --mint: #00ffaf;
  --gray: #c6cfda;
  --light-gray: #bebebe;
  --background-dark: #1d2633;
}

body {
  background: var(--background-light);
  /* overflow-x: hidden; */
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
/* .mobile {
  overflow-x: hidden;
} */

.dark-background {
  z-index: 1;
  transition: 0.3s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0;
  left: 0;
  top: 0;
  pointer-events: none;
}

.fade-enter {
  opacity: 0.5;
}

.fade-exit {
  opacity: 0;
}

html {
  scroll-behavior: smooth;
}

.content {
  margin-top: 80px;
  padding: 0 20px;
}
